// Support Browser
$vendorPrefixes: -webkit-, -moz-, -khtml-, -o-, -ms-;

// Prefix a-z
$perfixs: 'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z';

// Space 'auto'
$perfixs-auto: auto;

// (F)ont (s)i(z)e tag h1 to h6

$fsz-default: 1rem !default;
$fsz: 2.5, 2, 1.75, 1.5, 1.25, 1;

$fsz-h1: nth($fsz, 1) * $fsz_default !default;
$fsz-h2: nth($fsz, 2) * $fsz_default !default;
$fsz-h3: nth($fsz, 3) * $fsz_default !default;
$fsz-h4: nth($fsz, 4) * $fsz_default !default;
$fsz-h5: nth($fsz, 5) * $fsz_default !default;
$fsz-h6: nth($fsz, 6) * $fsz_default !default;

// Border

// --> @mixins to /important/_border.scss

//  Border-radius
$brra: 10px;
$brra9: 999px;

// Display
$dpy-list: block, flex, inline, inline-block, flex, none;

// Space (margin + padding)
$space: 2px;
$space-item: 4px;

// Flex - Row - Col - 12
// (C)o(l)um(n)s
$CLN_12: percentage(100/1200);
$GUTTER: 0 15px;

// (j)us(t)if(y)-(content)
$jty-content: ("start": flex-start, "end": flex-end, "center": center, "between": space-between, "around": space-around, "stretch": stretch, "evenly": space-evenly);

// (a)l(i)g(n)-(items)
$ain-item: ("center": center, "start": flex-start, "end": flex-end, "baseline": baseline);

// (a)l(i)g(n)-(content)
$ain-content: ("between": space-between, "around": space-around, "center": center, "start": flex-start, "end": flex-start);