@mixin flex_ ($number-cln, $gutter, $contents-map, $align-item-map, $align-content-map) {
    @for $i from 1 through 12 {
        .cln-#{$i} {
            width: $number-cln * $i;
        }
    }
    
    [class*="cln-"] {
        padding: $gutter;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    }

    @each $var, $content in $contents-map {
        .jty-#{$var} {
            justify-content: $content;
        }
    }

    @each $var, $align-item in $align-item-map {
        .ain-i-#{$var} {
            align-items: $align-item;
        }
    }

    @each $var, $align-content in $align-content-map {
        .ain-c-#{$var} {
            align-content: $align-content;
        }
    }

    .flx-re {
        flex-direction: row-reverse !important;
    }

    .flx-cln {
        flex-direction: column !important;
    }

    .flx-cln-re {
        flex-direction: column-reverse !important;
    }
    .flx-wrap {
        flex-wrap: wrap;
    }
    .flx-wrap-re {
        flex-wrap: wrap-reverse;
    }


}