// (C)o(l)o(r)
$clr-white: #fff !default;
$clr-gray-a: #f8f9fa !default;
$clr-gray-b: #e9ecef !default;
$clr-gray-c: #dee2e6 !default;
$clr-gray-d: #ced4da !default;
$clr-gray-e: #adb5bd !default;
$clr-gray-f: #6c757d !default;
$clr-gray-g: #495057 !default;
$clr-gray-h: #343a40 !default;
$clr-gray-i: #212529 !default;
$clr-black: #000 !default;